<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes, maximum-scale=1.0">
    <title>Webtoon Recommend</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/97e36fce94.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/home.js"></script>
</head>
<body>
<div id="wrap">
    <nav id="navi-bar">
        <a id="login-navi" href="/login">로그인</a>
        <a id="join-navi" href="/join">회원가입</a>
        <a id="mypage">마이페이지</a>
        <a href="/contact">FAQ</a>
    </nav>
    <div id="bodyheader">
        <div id="mainHeaderbar">
            <img src="/img/allcategory.png" id="logo">
            <div id="searchbar">
                <input type="text" placeholder="   제목을 검색하세요.">
                <btn id="searchicon" style="font-size: 0.9rem">
                    <i class="fa-solid fa-magnifying-glass fa-2x"></i></span>
                </btn>
            </div>
            <div id="mypage_btn" style="font-size: 0.9rem"><i class="fa-solid fa-user-gear fa-2x"></i></div>
        </div>
    </div>

    <hr>
    <div style="height:100x; margin-top: 20px;"><strong>추천 웹툰</strong></div>

    <hr>
    <div id="category_part">

        <ul id="category_list">
            <li id="default_category">전체 보기</li>
            <li id="LeakDetector" style="margin-top:3px;">네이버웹툰</li>
            <li id="SewerCleaner" style="margin-top:3px;">카카오웹툰</li>
            <li id="Endoscope" style="margin-top:3px;">카카오페이지</li>
            <li id="Tool" style="margin-top:3px;">레진코믹스</li>


        </ul>

    </div>

    <ul id="shoplist">

        <!--li class="item">
            <div id="item_img">
                <img src="img/LeakDetector.jpg">
            </div>
            <div id="item_text">
                <a id="item_name">d</a></br>
                <a id="item_price">d</a></br>
                <button>바로가기</button>
            </div>
        </li-->

    </ul>

</div>
</body>
</html>