<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/home.css">
    <title>Webtoon recommend</title>
    <script src="https://kit.fontawesome.com/97e36fce94.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="wrap">
    <nav id="navi-bar">
        <a id="login-navi" href="/login"style="left:1200px;">로그인</a>
        <a id="join-navi" href="/join"style="left:1240px;">회원가입</a>
        <a id="mypage"style="left:1290px;">마이페이지</a>
        <a href="/contact"style="left:1350px;">FAQ</a>
        <a id="manager" href="/admin/manage" style="left:1380px;">관리자</a>
    </nav>
</div>
</body>
</html>