<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/memJoin.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/memJoin.js"></script>
</head>
<body>
<div style="padding: 20px;"></div>
<div id="container" class="main_container">
    <div style="padding: 20px;"></div>
    <div>
        <img src = "" class="form_logo">
    </div>
    <div class="join_container">
        <div class="form_container">
            <form name="join_form" action="/user/signup-proc" method="post">
                <div class="form_title_div">
                    <p style="font-size:25px" class="form_title_p">회원가입</p>
                </div>
                <div>
                    <div>
                        <a class="form_item_name">ID</a>
                    </div>
                    <div>
                        <input type="text" name="email" placeholder="이메일을 입력하세요" class="form_input"/>
                    </div>
                    <div class="form_text_alert_padding">
                        <div id="alert_email" class="form_text_alert"></div>
                    </div>
                </div>
                <div>
                    <div>
                        <a class="form_item_name">Password</a>
                    </div>
                    <div>
                        <input type="password" name="password" placeholder="비밀번호를 입력하세요" class="form_input"/>
                    </div>
                    <div class="form_text_alert_padding">
                        <div id="alert_password" class="form_text_alert"></div>
                    </div>
                </div>
                <!--
                <div>
                    <div>
                        <a class="form_item_name">favWebtoon</a>
                    </div>
                    <div>
                        <input type="text" name="favWebtoon" placeholder="관심웹툰을 입력하세요" class="form_input"/>
                    </div>
                    <div class="form_text_alert_padding">
                        <div id="alert_favWebtoon" class="form_text_alert"></div>
                    </div>
                </div>
                -->
                <div style="height: 10px;"></div>
                <div>
                    <button id="submit-btn" class="form_submit_button" onclick="join()">회원가입</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>