<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes, maximum-scale=1.0">
    <title>Webtoon Recommend</title>
    <link type="text/css" rel="stylesheet" href="/css/webtooninfo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/97e36fce94.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" src="/js/webtooninfo.js"></script>

</head>
<body>

<div id="wrap">
    <div id="bodyheader">
        <div id="mainHeaderbar">
            <div id="logo" style="font-size: 40px; margin-top:10px;"><b>ATAD:WR</b></div>
            <div id="searchbar">
                <input type="text" placeholder="   제목을 검색하세요.">
                <btn id="searchicon" style="font-size: 0.9rem">
                    <i class="fa-solid fa-magnifying-glass fa-2x"></i></span>
                </btn>
            </div>
            <div id="mypage_btn" style="font-size: 0.9rem"><i class="fa-solid fa-user-gear fa-2x"></i></div>
        </div>
    </div>

    <hr>

    <div style="height:100x; margin-top: 20px;">
        <strong>키워드 검색</strong><br>
        <div id="userinfo">
            <nav id="navi-bar">
                <a id="login-navi" href="/user/login"><button id="login-navi-btn">로그인</button></a>
                <a id="join-navi" href="/user/signup"><button id="join-navi-btn">회원가입</button></a>
                <a id="mypage"><button>마이페이지</button></a> <!--미구현-->
                <!--<a href="/contact">FAQ</a> 미구현-->
            </nav>
        </div>
        <div id="keyword-searchbar">
            <input type="text" placeholder="   키워드를 검색하세요.">
            <btn id="keyword-searchicon" style="font-size: 0.7rem">
                <i class="fa-solid fa-magnifying-glass fa-2x"></i></span>
            </btn>
        </div>
    </div>

    <hr>

    <div class="webtoon-outer-container">
        <div id="webtoon-image-container">
            <img src="" id="webtoon-image">
            <button id="addbtn">관심웹툰추가</button>
        </div>
        <div id="webtoon-info-container">
            <div style="margin-top:20px;"></div>
            <div class="webtoon-info-inner" id="webtoon-name"><b>웹툰 제목</b></div>
            <div class="webtoon-info-inner" id="webtoon-platform">플랫폼</div>
            <div class="webtoon-info-inner" id="webtoon-author">작가</div>
            <div class="custom-hr"></div>
            <div class="webtoon-info-inner" id="webtoon-genre">장르</div>
        </div>
        <div id="webtoon-summary-container">
            <div class="webtoon-summary-inner" id="webtoon-summary">
                줄거리
            </div>
            <details id="recommend-keyword-details">
                <summary id="recommend-keyword">유사 장르 웹툰</summary>
                <p id="webtoon-keyword"></p>
                <ul id="webtoonlist">

                    <!--li class="item">
                        <div id="item_img">
                            <img src="img/aakvndksvnsdlv.jpg">
                        </div>
                        <div id="item_text">
                            <a id="item_name">d</a></br>
                            <button>바로가기</button>
                        </div>
                    </li-->

                </ul>
            </details>
        </div>
    </div>


</div>
</body>
</html>