body{
    width:1500px;
    position: relative;
    margin:0 auto;

    height:1200px;
    overflow: scroll;
}
#wrap{
    overflow: revert;
    position:absolute;
    left:50%;
    margin-left:5%;
    height:100%;
    transform: translate(-50%);


}

#bodyheader{
    width:1200px;
    padding-top:40px;
}
#mainHeaderbar{

    height:100px;
    display:flex;
    margin-top: 30px;
    margin-left:30px;

}
#navi-bar{
    margin-top:5px;
    position:absolute;
    right:250px;
    top:0;
    display: flex;
    height:20px;



}
#navi-bar a{
    font-size:10px;
    margin-left:3px;
    margin-right:3px;
    top:5px;
    color:black;
    text-decoration-line: none;
    white-space : nowrap;
    cursor:pointer;

}

#logo{
    /*padding-left:120px;

     */
    width: 200px;
    height:70px;
    margin-right:10px;

}
#logo:hover{
    cursor: pointer;
}

#searchbar{
    position: relative;
    width:600px;
    height:52px;
}

#bodyheader input{
    position: absolute;
    width:560px;
    height:45px;
    margin-top:10px;
    border: 2px solid black;
    border-radius: 40px 40px;
    padding-inline-start: 25px;
}
#searchicon{
    position: absolute;
    left:530px;
    top:19px;
    margin-top:2px;
}
#searchicon:hover{
    cursor: pointer;
}



#side_Bar{
    margin-left:1200px;
    position: fixed;
    width:60px;
    height:500px;
    Top:200px;
    background-color:white ;

}
#side_Bar div img{
    left:850px;
    cursor: pointer;
    width:60px;
    height:70px;
}
#side_Bar div img:hover{
    filter:opacity(0.7) drop-shadow(0 0 0 #87cefa);
}

#bodyheader span img{
    background-color: white;

}

#mypage_btn{
    left:860px;
    width: 32px;
    height:32px;
    position: absolute;
    top:90px;
    cursor: pointer;
}

hr{
    width:940px;
    position:absolute;

    border: 1px solid black;
}

/* 여기까지 */

#category_part{
    position: relative;
    margin-top:10px;
}
#category_list{
    list-style: none;
    display: flex;
    position:absolute;

}
#category_list li{
    white-space : nowrap;
    margin-right: 20px;
    font-family: 'Do hyeon',sans-serif;
    font-size:20px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}
#OptionalSort{
    left:850px;
}
#default_category{
    background-color: black;
    border-radius: 3px 3px;
    color:white;
}

#category_list li:hover{
    background-color: black;
    border-radius: 3px 3px;
    color:white;
}
#category_part select{
    position: absolute;

    top: 20px;

}
#shoplist{
    position:absolute;

    top:300px;
    width:900px;
    height:800px;
    list-style: none;
    margin:0px;
    padding:0px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

}
#shoplist li{
    cursor:pointer;
    margin-top:0;
    width:200px;
    height:250px;
    margin-left:12.5px;
    margin-right:12.5px;
    margin-bottom: 10px;
    border-bottom-left: soild 1px red;
}
li #item_img{
    position: relative;

    width:150px;
    height:150px;
    top:15px;

}
li #merchansub{
    font-size: 10px;
}

li #item_img img{


    top:25px;
    width:150px;
    height:150px;
    border-radius: 50px;
}
#item_text{
    position: relative;
    margin-top : 20px;

    width:200px;
    height:90px;
    text-align: left;
}
#item_name{
    font-weight: bold;
}
#item_price {
    color:red;
    font-weight: bold;
}


#footer{
    position: absolute;
    left: 36%;
    bottom: 0%;
    transform: translate(-50%, -50%);
}
/*
#footer{
    position:fixed;
    bottom:0px;
    left:350px;
}
*/


#footer img{
    width:950px;
}