ul{
    list-style:none;
}

body{
    width:1500px;
    position: relative;
    margin:0 auto;

    height:1200px;
    overflow: scroll;
    overflow-x: hidden;
}
#wrap{
    overflow: revert;
    position:absolute;
    left:20%;
    margin-left:0%;
    height:100%;
    /*transform: translate(-50%);*/
}

#bodyheader{
    width:1200px;
    padding-top:40px;
}
#mainHeaderbar{

    height:100px;
    display:flex;
    margin-top: 30px;
    margin-left:30px;

}
#navi-bar{
    margin-top:20px;
    position:absolute;
    left:30px;
    top:0;
    display: flex;
    height:20px;
}
#navi-bar a{
    margin-left:10px;
    margin-right:10px;
    top:5px;
    color:black;
    text-decoration-line: none;
    white-space : nowrap;
    cursor:pointer;
}
#navi-bar a button{
    background-color: white;
    border: 2px solid black;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#navi-bar a button:hover{
    background-color: black;
    color: white;
    border: 2px solid black;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor:pointer
}

#logo{
    /*padding-left:120px;

     */
    width: 200px;
    height:70px;
    margin-right:10px;

}
#logo:hover{
    cursor: pointer;
}

#searchbar{
    position: relative;
    width:600px;
    height:52px;
}
#keyword-searchbar{
    position: relative;
    width:300px;
    height:52px;
    display: inline-block;
}
#keyword-searchbar input{
    position: absolute;
    width:270px;
    height:35px;
    margin-top:10px;
    margin-bottom:10px;
    border: 2px solid black;
    border-radius: 40px 40px;
    padding-inline-start: 25px;
}

#bodyheader input{
    position: absolute;
    width:560px;
    height:45px;
    margin-top:10px;
    border: 2px solid black;
    border-radius: 40px 40px;
    padding-inline-start: 25px;
}
#searchicon{
    position: absolute;
    left:530px;
    top:19px;
    margin-top:2px;
}
#searchicon:hover{
    cursor: pointer;
}

#keyword-searchicon{
    position: absolute;
    left:260px;
    top:17px;
    margin-top:2px;
}
#keyword-searchicon:hover{
    cursor: pointer;
}

#bodyheader span img{
    background-color: white;

}

#mypage_btn{
    left:860px;
    width: 32px;
    height:32px;
    position: absolute;
    top:90px;
    cursor: pointer;
}

#userinfo{
    display: inline-block;
    width: 590px;
    height:75px;
    border: 2px solid;
    transform: translateY(-23px);
    position: absolute;
    left: 350px;
    text-align: center;
}

hr{
    width:940px;
    position:absolute;

    border: 1px solid black;
}

/* 여기까지 */

#webtoonlist{
    position:absolute;
    top:300px;
    width:1000px;
    height:800px;
    list-style: none;
    margin-left:50px;
    margin-top:30px;
    margin-bottom:100px;
    padding:0px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

}
#webtoonlist li{
    cursor:pointer;
    margin-top:0;
    width:160px;
    height:240px;
    margin-left:12.5px;
    margin-right:12.5px;
    margin-bottom: 10px;
    border-bottom-left: soild 1px red;
}
#webtoonlist li.item_margin{
    margin-top:0;
    width:160px;
    height:100px;
    margin-left:12.5px;
    margin-right:12.5px;
    margin-bottom: 10px;
    border-bottom-left: soild 1px red;
}
#webtoonlist li.item_margin{
    margin-top:0;
    width:160px;
    height:100px;
    margin-left:12.5px;
    margin-right:12.5px;
    margin-bottom: 10px;
    border-bottom-left: soild 1px red;
}
li #item_img{
    position: relative;
    width:150px;
    height:150px;
    top:15px;
}
li #merchansub{
    font-size: 10px;
    width: 160px;
}

li #item_img img{
    top:25px;
    width:150px;
    height:150px;
    border-radius: 50px;
}
#item_text{
    position: relative;
    margin-top : 20px;

    width:150px;
    height:90px;
    text-align: left;
}
#item_name{
    font-weight: bold;
    font-size: 14px;
}
#item_price {
    color:red;
    font-weight: bold;
}

#list-left{
    text-align: center;
    position: fixed;
    width: 50%;
    left: 0%;
    background-color: black;
    color: white;
    bottom:0px;
    z-index: 3;
}
#list-left:hover{
    cursor:pointer;
}

#list-right{
text-align: center;
    position: fixed;
    width: 50%;
    left: 50%;
    background-color: black;
    color: white;
    bottom:0px;
    z-index: 3;
}
#list-right:hover{
    cursor:pointer;
}
