ul{
    list-style:none;
}

body{
    width:1500px;
    position: relative;
    margin:0 auto;

    height:1200px;
    overflow: scroll;
}
#wrap{
    overflow: revert;
    position:absolute;
    left:20%;
    margin-left:0%;
    height:100%;
    /*transform: translate(-50%);*/
}

#bodyheader{
    width:1200px;
    padding-top:40px;
}
#mainHeaderbar{

    height:100px;
    display:flex;
    margin-top: 30px;
    margin-left:30px;
}

#navi-bar{
    margin-top:20px;
    position:absolute;
    left:30px;
    top:0;
    display: flex;
    height:20px;
}
#navi-bar a{
    margin-left:10px;
    margin-right:10px;
    top:5px;
    color:black;
    text-decoration-line: none;
    white-space : nowrap;
    cursor:pointer;
}
#navi-bar a button{
    background-color: white;
    border: 2px solid black;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#navi-bar a button:hover{
    background-color: black;
    color: white;
    border: 2px solid black;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor:pointer
}

#logo{
    /*padding-left:120px;

     */
    width: 200px;
    height:70px;
    margin-right:10px;

}
#logo:hover{
    cursor: pointer;
}

#searchbar{
    position: relative;
    width:600px;
    height:52px;
}
#keyword-searchbar{
    position: relative;
    width:300px;
    height:52px;
}
#keyword-searchbar input{
    position: absolute;
    width:270px;
    height:35px;
    margin-top:10px;
    margin-bottom:10px;
    border: 2px solid black;
    border-radius: 40px 40px;
    padding-inline-start: 25px;
}

#bodyheader input{
    position: absolute;
    width:560px;
    height:45px;
    margin-top:10px;
    border: 2px solid black;
    border-radius: 40px 40px;
    padding-inline-start: 25px;
}
#searchicon{
    position: absolute;
    left:530px;
    top:19px;
    margin-top:2px;
}
#searchicon:hover{
    cursor: pointer;
}

#keyword-searchicon{
    position: absolute;
    left:260px;
    top:17px;
    margin-top:2px;
}
#keyword-searchicon:hover{
    cursor: pointer;
}

#bodyheader span img{
    background-color: white;

}

#mypage_btn{
    left:860px;
    width: 32px;
    height:32px;
    position: absolute;
    top:90px;
    cursor: pointer;
}

hr{
    width:940px;
    position:absolute;

    border: 1px solid black;
}
#userinfo{
    display: inline-block;
    width: 590px;
    height:75px;
    border: 2px solid;
    transform: translateY(-23px);
    position: absolute;
    left: 350px;
    text-align: center;
}
/* 여기까지 기본 헤더 */

.webtoon-outer-container{
    position:absolute;
    top: 285px;
    width: 940px;
    height: 600px;
    font-family: 'Nanum Gothic', sans-serif;
    /*border: 2px solid;*/
}

#webtoon-image-container{
    position:absolute;
    top: 45px;
    width: 160px;
    height: 240px;
    list-style: none;
    margin-left:20px;
    padding:0px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align:center;
    /*border: 2px solid;*/
}

#webtoon-image{
    width: 160px;
    height: 160px;
    border-radius: 20px;
}

#webtoon-info-container{
    left: 220px;
    position:absolute;
    top: 20px;
    width: 600px;
    height: 240px;
    list-style: none;
    margin:10px;
    padding:0px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px black;
    border-radius: 20px;
}

.webtoon-info-inner{
    margin-left: 20px;
    width: 600px;
    margin-top: 7px;
    margin-bottom: 7px;
}

#webtoon-summary-container{
    position: absolute;
    top: 300px;
    width: 800px;
    font-size: 0.9rem;
}
.webtoon-summary-inner{
    margin-left: 20px;
    width: 800px;
    margin: 20px;
}

.custom-hr{
    width: 560px;
    margin-left: 20px;
    height: 2px;
    background-color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

#webtoon-name{
    font-size: 30px;
    display:block;
}

#addbtn{
    background-color: white;
    border: 2px solid black;
    color: black;
    border-radius: 5px;
    margin-left:25px;
    margin-top: 15px;
    height: 40px;
    width: 110px;
}
#addbtn:hover{
    background-color: black;
    border: 2px solid black;
    color: white;
    pointer:cursor;
}

#webtoonlist{
    position:absolute;
    top:20px;
    width:900px;
    height:800px;
    list-style: none;
    margin-top:30px;
    margin-bottom:100px;
    padding:0px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

}
#webtoonlist li{
    cursor:pointer;
    margin-top:0;
    width:100px;
    height:160px;
    margin-left:12.5px;
    margin-right:12.5px;
    margin-bottom: 10px;
    border-bottom-left: soild 1px red;
}
#webtoonlist li.item_margin{
    margin-top:0;
    width:100px;
    height:100px;
    margin-left:12.5px;
    margin-right:12.5px;
    margin-bottom: 10px;
    border-bottom-left: soild 1px red;
}

#webtoonlist li span{
    width:100px;
}
li #item_img{
    position: relative;
    width:100px;
    height:100px;
    top:15px;
}
li #merchansub{
    font-size: 7px;
    width: 160px;
}

li #item_img img{
    top:20px;
    width:100px;
    height:100px;
    border-radius: 30px;
}
#item_text{
    position: relative;
    margin-top : 20px;

    width:100px;
    height:90px;
    text-align: left;
}
#item_name{
    width:100px;
    font-size: 6px;
    font-weight: bold;
    text-overflow:clip;
}
#item_price {
    color:red;
    font-weight: bold;
}

#recommend-keyword-details{
    position: absolute;
    top:100px;
}